.configContainer {
margin: 20px;
text-align: start;
font-size: 15px;

  button {
    display: flex;
    width: 100px;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
.configLabel{
  font-weight: 500;
}

.configVisualTitle{
  font-weight: 650;
}

.sizeFontContainer{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.configButtonContainer{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.configButtonPrimary {
  color: white;
  border-radius: 8px;
  background: #101227;

  /* Shadow / xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.configButtonSecondary {
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;

  /* Shadow / xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
