.semesterAccordion {
  background-color: #d7dbff;
  margin: 0;
  padding: 0.7rem;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & .semesterName {
    margin: 0;
    font-size: 12px;
  }
}

.semesterAccordionSubjects {
  display: flex;
  flex-direction: column;
}
