.expandSubject {
  position: relative;
  width: 0.7rem;
  height: 0.7rem;
}

.lineOne {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lineTwo {
  height: 100%;
  width: 2px;
  position: absolute;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}

.lineTwo.rotateExpand {
  transform: translate(-50%, -50%) rotate(90deg);
}
