.accordionSummary {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.accordionSummaryLabel {
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
