.accordionSummary {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.accordionSummaryLabel {
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expandIcon {
  transition: all 220ms ease-in-out;
}

.rotate {
  transform: rotate(180deg);
  padding: 1rem;
  text-align: left;
}
