.logoCappuchino {
  width: 3rem;
  height: 3rem;
  margin-block: 20px;
}

.heroSection {
  margin-top: 30px;
}

.careers {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
  padding-inline: 20px;
  font-size: 12px;
  font-weight: 200;
  gap: 10px;
}
